@model VideoGamesStore.ViewModels.Account.RegisterViewModel
@{ ViewData["Title"] = "Регистрация"; }
<div class="auth-card">
    <h2>Создать аккаунт</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3"><label asp-for="Username" class="form-label"></label><input asp-for="Username" class="form-control" placeholder="nickname" /><span asp-validation-for="Username" class="text-danger"></span></div>
        <div class="mb-3"><label asp-for="Email" class="form-label"></label><input asp-for="Email" class="form-control" placeholder="name@example.com" /><span asp-validation-for="Email" class="text-danger"></span></div>
        <div class="mb-3"><label asp-for="Password" class="form-label"></label><input asp-for="Password" class="form-control" /><span asp-validation-for="Password" class="text-danger"></span></div>
        <div class="mb-3"><label asp-for="ConfirmPassword" class="form-label"></label><input asp-for="ConfirmPassword" class="form-control" /><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
        <button class="btn btn-success w-100" type="submit">Зарегистрироваться</button>
    </form>
</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
